$crs-color-error: #eb0045;
$crs-color-brand-black: #132d4d;
$crs-color-white: white;
$crs-color-electric-blue: #00a3e0;
$crs-color-electric-blue-1: #0092c9;
$crs-color-electric-blue-2: #1aace3;
$crs-color-gray-4: #dfe2e6;
$crs-color-gray-5: #eef0f2;
$crs-color-gray-3: #ced3d9;
$crs-color-gray-2: #dfe2e6;
$crs-color-gray: #8996a6;



@mixin crs-form-input-component() {
  color: $crs-color-brand-black;
  background-color: $crs-color-white;
  border: 1px solid $crs-color-gray-2;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: $crs-font-stack;
  outline: none;
  width: 100%;
  line-height: 1;
  transition:
    border-color 0.2s linear,
    box-shadow 0.2s linear,
    color 0.2s linear;

  &:active:not(.is-disabled),
  &:focus:not(.is-disabled) {
    border-color: $crs-color-electric-blue;
    box-shadow: 0 0 0 1px $crs-color-electric-blue;
  }

  &:hover:not(.is-disabled) {
    border-color: $crs-color-electric-blue;
  }

  &.is-disabled {
    background-color: $crs-color-gray-5;
    border-color: $crs-color-gray-4;
    color: $crs-color-gray-3;
    cursor: not-allowed;
  }
}


$crs-font-stack: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
